
 *
@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">@TempData["SuccessMessage"]</div>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
<p>Chapeau is a french restaurant in the heart of Zeewolde where you experience the real french feel at home </p>
<p> Our restaurant has been in operations for the past 15 years and hast been rated the best in Zeewolde</p>
<p> We have a wide variety of dishes to choose from and we are sure you will find something you like</p>
<p> Dont miss put on this </p>
<p> Make your reservation today or walk ins</p>
<p>See you soon </p>
<p>For more questions and reservations: Reach out to Luca ,Chris , Sophie or Jeffery </p>
<p>Contact us at: 06-12345678 or email us at: info@chapeau.com</p>
