@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Money paid is not refundable.</p>
<p>Booking should be made at least 3 days before selected date for smooth services.</p>
<p>Chapeau: Bringing you the french experience in Zeelwolde.</p>
